@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#myForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="number"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

span {
    font-size: 12px;
    color: #555;
}

#status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#status div {
    display: flex;
    align-items: center;
}
