.container {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border-radius: 10px;
    margin: 10rem auto;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}